{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "quoteProps": "consistent",
  "printWidth": 120,
  "importOrder": ["^(@?react|@?next)", "<THIRD_PARTY_MODULES>", "^@/(.*)$", "^[.](.*)"],
  "importOrderCaseInsensitive": true,
  "importOrderParserPlugins": [
    "typescript",
    "jsx",
    "classProperties",
    "[\"decorators\", { \"decoratorsBeforeExport\": true }]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": false,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss",
    "prettier-plugin-classnames",
    "prettier-plugin-merge"
  ]
}
