NEXT_PUBLIC_EXPLORER_URL=https://explorer.ergoplatform.com
NEXT_PUBLIC_BACKEND_URL=localhost:3001 # replace by a real URL
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=your-site-key   #empty for dev mode
NEXT_PUBLIC_SWR_REFRESH_SECONDS=30  # SWR polling interval in seconds
